<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Michelada Recipes</title>
    <style>
        body { font-family: Arial, sans-serif; padding: 20px; background-color: #d3d3d3;}
        h1 { text-align: center; }
        .recipe { cursor: pointer; padding: 10px; border: 1px solid #ccc; margin: 10px 0; }
        .recipe img, .main-image { 
            width: 33.33%;
            max-width: 33%;
            height: auto;
        }
    </style>
</head>
<body>
    <h1>Choose a michelada recipe</h1>
    <div id="recipes">
        <img src="{{ url_for('static', filename='michelada_main.jpg') }}" alt="{{ name }}" class="main-image">
        {% for name, recipe in recipes.items() %}
            <div class="recipe" onclick="loadRecipe('{{ name }}')">
                <h2>{{ name }}</h2>
            </div>
        {% endfor %}
    </div>
    <div id="recipeDetails"></div>

    <script>
        function loadRecipe(name) {
            fetch(`/recipe/${name}`)
                .then(response => response.json())
                .then(data => {
                    const recipeDetails = document.getElementById('recipeDetails');
                    recipeDetails.innerHTML = `
                        <h2>${name}</h2>
                        <p><strong>Description:</strong> ${data.description}</p>
                        <p><strong>Ingredients:</strong> ${data.ingredients}</p>
                        <img src="${data.image}" alt="${name}">
                    `;
                });
        }
    </script>
</body>
</html>
